*~
.*.swp
.DS_Store
.idea
build
DerivedData
generated
obj
cscope.*
*.epub
*.pdf
*.pnm
*.html
*.xhtml
tags
TAGS
app/src/main/jni/mupdf/thirdparty/v8-3.9
app/src/main/jni/mupdf/thirdparty/openssl
docs/browse
app/src/main/jni/mupdf/include/mupdf/pdf/name-table.h
app/src/main/jni/mupdf/source/pdf/pdf-name-table.h
app/src/main/libs
.gradle
local.properties
